.dashboard-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 10px 20px;
}

.dashborad-left h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.90;
}

.dashborad-left p {
    font-size: 14px;
    color: #666;
}

.add-expense-button {
    display: flex;
    justify-content: center;
    background-color: #7171f2;
    width: 167px;
    height: 52px;
    border-radius: 12px;
    color: #ffff;
    align-items: center;
    gap: 10px;
}

.add-expense-button span {
    margin-top: 4px;
}