/* .dashboard-stats {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px 20px 20px;
} */

.dashboard-header.shifted {
    margin-left: 250px;
}


.dashboard-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 30px 20px 20px 20px;
}

@media (max-width: 1024px) {
    .dashboard-stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }
}

@media (max-width: 600px) {
    .dashboard-stats {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.dashboard-charts {
    display: grid;
    margin: 20px;
    gap: 30px;
    grid-template-columns: 1.9fr 1.5fr 1.1fr;
}

@media (max-width: 1650px ) {
    .dashboard-charts {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1024px) {
    .dashboard-charts {
        grid-template-columns: 1fr;
    }
}

.budget-overview {
    display: grid;
    grid-template-columns: 3.2fr 1fr;
    margin: 20px;
    gap: 30px;
}