.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #ffffff 0%, #efefef 100%);
    color: white;
    padding: 20px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
}

.menu-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.dashboard_title {
    font-size: 18px;
    font-weight: 700;
    color: #7979f6;
}

.menu-logo {
    width: 60px;
}

.menu-container .menu-list {
    flex: 1;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.menu-container .menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-container .menu-list li {
    padding: 12px 20px;
    cursor: pointer;
    color: #646363;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 225px;
    margin: 0 auto;
}

.menu-container .menu-list li:hover {
    background-color: #7575f91a;
    color: #7979f6;
    padding-left: 25px;
    border-radius: 10px;
    box-shadow: #b1b1eb 0px 2px 6px;
}

.logout-button {
    padding: 20px;
    position: relative;
}

.logout-button:hover button,
.logout-button:hover .logout-icon {
    color: #7979f6;
    transform: translateY(-2px);
}

.logout-button button {
    width: 100%;
    padding: 10px;
    position: relative;
    background: transparent;
    color: #646363;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 16px;
}

.logout-icon {
    position: absolute;
    top: 23px;
    left: 45px;
    color: #646363;
    transition: all 0.3s ease;
    cursor: pointer;
}