.line-card {
    background-color: #ffff;
    padding: 20px;
    box-shadow: 2px 5px 10px #4949491a;
    border-radius: 7px;
    min-width: 550px;
}

h3 {
    font-size: 18px;
    color: rgb(83, 81, 81);
    margin-bottom: 20px;
}